streamlit
opencv-python-headless
easyocr
numpy
pandas
torch
torchvision
typing-extensions>=4.12
# Cài detectron2 trực tiếp từ đường dẫn GitHub (Cách này dành cho Cloud)
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
